<!-- <app-lifecycle></app-lifecycle> -->

<!-- <app-templates></app-templates> -->

<!-- <app-structural-directives></app-structural-directives> -->

<!-- <app-parent></app-parent> -->

<!-- <div appHiglight> Highlight this text</div> -->

<!-- <app-parent-training></app-parent-training>  -->

<nav>
  <ul>
    <li><a routerLink="/childview" > Child </a></li>
    <li><a routerLink="/reactive"> Reactive Forms</a></li>
    <li><a routerLink="/listofHeros"> list of heros</a></li>
    <li><a routerLink="/listofMovies"> list of movies</a></li>
    <li><a [routerLink]="['/rxjs', {name: 'xyz'}]"> RxJS</a></li>
    <li><a routerLink="/lifecycle">Lifecycle</a></li>
    
  </ul>
</nav>




<!-- <div>
  It will always display
</div> -->
<router-outlet></router-outlet>


<!-- <app-forms></app-forms> -->

<!-- <app-reactive-forms-example></app-reactive-forms-example> -->

<!-- <app-reactiveforms-example></app-reactiveforms-example> -->

 <!-- parent child communication / data sharing between two components *important topic

  @Input() - passing data from parent -> child  (one direction data only happens)

  parent component - property
  child componet - @Input() property

  @Output ->   child -> parent -@Output it works EventEmmiter using properties



********** Built -in directive
1) NgClass - conditional
2) NgStyle - runtime elemnts any part styling it helps u in doing that
3) NgModel  

Binding - property binding / 2 way binding
<p  > <p>
[NgStyle]  ="elemntstyle"

elemntstyle={
  'font-styl' : 'italic'
  color : red
  'background-color'
}


*ngSwitch
case 1<div>
monday
cas2<div>
tuesday


sunday

-->



